@using MyFlyer.Web.Areas.Admin.Models;
@model List<UserViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">IsActive</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@Model[i].UserName</td>
                                    <td>@Model[i].Email</td>
                                    <td>@Model[i].Role.Name</td>
                                    <td>@Model[i].IsActive</td>
                                    <th scope="col"></th>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a>
                                    </td>
                                </tr>
                    }
                }
            </tbody>
        </table>

    </div>
