@using MyFlyer.Web.Models.DataModel;
@model dynamic
@{ 
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                @foreach (MerchantViewModel merchant in Model.Merchants)
                {
                    <a asp-action="Index" asp-controller="Product" asp-route-merchId="@merchant.Id" class="list-group-item">@merchant.Name</a>
                }
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
               
                <div class="carousel-inner" role="listbox">                   
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="" alt="Third slide">
                    </div>
                </div>               
            </div>

            <div class="row">
                @foreach (ProductViewModel product in Model.Products)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id"><img class="card-img-top" src="@product.Image" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">@product.DisplayName</a>
                                </h4>
                                <h5>@product.CurrentPrice</h5>
                                <p class="card-text">@product.Description</p>
                            </div>
                            <div class="card-footer">
                                @*<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>*@
                                <button type="submit" class="btn-success">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
